section
  section
    h1
      | Title
    p
      | Place
      br
      | 2017.**.**
      br
      | Kozaru
    p
      small 右下のコントローラもしくは矢印キーで移動、Escキーでスライド全体をご覧頂けます。
  section
    h2 自己紹介
    p: img.img-no-border(style='width:100px;',src='images/logo.svg')
    p.text-left
      | 名前　こざる（小寺 順子）
      br
      | 所属　
      a(href='https://kozarusha.com/',target='_blank') こざる舎
      |（フリーランス）
      br
      | 仕事　マークアップエンジニア
      br
      | 趣味　ビール、オイスター、絵本、
      a(href='https://kozaru.me/blog/technocrafts',target='_blank') 電子工作系手芸
  section
    h2 アジェンダ
    p: small 説明文
    ol
      li 1
      li まずは
      li つぎは
!= partial("_example")
